@import '../variables';

.party-wrapper{
    //display: flex;
    //flex-direction: column;
    width: 80%;
    height: 100%;
    padding: 50px 0px;
    //text-align: center;
    input{
        width: 350px;
        //margin-top: 30px;
    }
    display: flex;
    flex-direction: column;
}




.info-wrapper{
    height: 10%;
    margin-bottom: 30px;
    .playlist-name{
        color: $main-green;
        font-family: $quicksand;
        font-size: 30pt;
        
        position: relative;
        &:after{
            content: '';
            width: 100%;
            height: 3px;
            transform: translateX(-50%);
            position: absolute;
            left: 50%;
            bottom: -5px;
            background-color: #264849;
        }
    }
    .uuid{
        color: $main-green;
        font-family: $quicksand;
        margin-top: 10px;
        display: block;
        font-size: 20pt;
    }
}

.search-wrapper{
    margin-bottom: 15px;
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    svg{
        position: absolute;
        left: 0;
        color: white;
    }
    input{
        width: 100%;
        height: 40px;
        font-family: $quicksand;
        border: none;
        background-color: rgba(0,0,0,0);
        color: $main-green;
        font-size: 12pt;
        display: block;
        position: relative;
        padding: 0px 30px;
        &:after{
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: red;
        }
    }
}

.songs-wrapper{
    width: 100%;
    height: 80%;
    border: 2px solid #264849;
    border-radius: 5px;
    overflow-y: auto;
    box-shadow: 0px 3px 3px #000;
    .track{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: $quicksand;
        width: 100%;
        height: 65px;
        margin: 15px 0px;
        padding: 0px 20px;
        position: relative;
        transition: all linear 0.1s;
        cursor: pointer;
        
        .track-name{
            margin-bottom: 0px;
            font-weight: bold;
            font-size: 1.3em;
            color: #fff;
        }

        .track-artist{
            font-size: 1.2em;
            color: #e2e2e2;
        }

        .track-duration{
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.3em;
            color: #fff;
        }


        &:hover{
            background-color: #0e2223;
        }
    }
}

.results-wrapper{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    max-height: 300px;
    transform: translateY(50px);
    //background-color: red;
    overflow-y: auto;
    background-color: white;
    z-index: 2;
    box-shadow: 0px 2px 5px #000;
    
    .result{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: $quicksand;
        width: 100%;
        height: 55px;
        margin: 10px 0px;
        padding: 0px 20px;
        position: relative;
        transition: all linear 0.1s;
        cursor: pointer;
        
        .track-name{
            margin-bottom: 7px;
            font-weight: bold;
            font-size: 1.4em;
        }

        .track-artist{
            font-size: 1.3em;
            color: #383838;
        }

        .track-duration{
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 12pt;
        }

        &:after{
            content: '';
            position: absolute;
            width: 95%;
            bottom: -5px;
            left: 50%;
            background-color: #e8e8e8;
            height: 1px;
            transform: translateX(-50%);
        }

        &:hover{
            background-color: #e2e2e2;
        }
    }
}


@media(max-width: 500px){
    .party-wrapper{
        width: 90%;
    }

    .playlist-name{
        font-size: 20pt !important;
    }
    
    .uuid{
        font-size: 15pt !important;
    }

    .track-name{
        width: 90% !important;
        margin-bottom: 2px !important;
        font-weight: bold;
        font-size: 7pt !important;
        color: #fff;
    }

    .track-artist{
        font-size: 7pt !important;
        color: #383838;
    }

    .track-duration{
        position: absolute;
        right: 5px !important;
        top: 50%;
        transform: translateY(-50%);
        font-size: 10pt !important;
    }

    .track{
        padding: 0px 5px !important;
    }

    .song-wrapper{
        height: 90% !important;
    }

    .result{
        padding: 0px 10px !important;
        .track-name{
            font-size: 10pt !important;
            color: black;
        }
        .track-artist{
            font-size: 9pt !important;
        }

        .track-duration{
            right: 10px !important;
        }
    }
}