@import '../variables';

.party-wrapper{
    //display: flex;
    //flex-direction: column;
    width: 80%;
    height: 100%;
    padding: 50px 0px;
    //text-align: center;
    input{
        width: 350px;
        //margin-top: 30px;
    }
    display: flex;
    flex-direction: column;
}
.info-wrapper{
    height: 10%;
    margin-bottom: 30px;
    .playlist-name{
        color: $main-green;
        font-family: $quicksand;
        font-size: 30pt;
        
        position: relative;
        &:after{
            content: '';
            width: 100%;
            height: 3px;
            transform: translateX(-50%);
            position: absolute;
            left: 50%;
            bottom: -5px;
            background-color: #264849;
        }
    }
    .uuid{
        color: $main-green;
        font-family: $quicksand;
        margin-top: 10px;
        display: block;
        font-size: 20pt;
    }
}

.search-wrapper{
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    input{
        width: 100%;
        height: 40px;
        font-family: $quicksand;
        border: none;
        background-color: rgba(0,0,0,0);
        color: $main-green;
        font-size: 12pt;
        display: block;
        position: relative;
        &:after{
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: red;
        }
    }
}

.songs-wrapper{
    width: 100%;
    height: 80%;
    border: 2px solid #264849;
    border-radius: 5px;
    overflow-y: auto;
    box-shadow: 0px 3px 3px #000;
    .track{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: $quicksand;
        width: 100%;
        height: 65px;
        margin: 15px 0px;
        padding: 0px 20px;
        position: relative;
        transition: all linear 0.1s;
        cursor: pointer;
        
        .track-name{
            margin-bottom: 2px;
            font-weight: bold;
            font-size: 1.3em;
            color: #fff;
        }

        .track-artist{
            font-size: 1.2em;
            color: #e2e2e2;
        }

        .track-duration{
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.3em;
            color: #fff;
        }


        &:hover{
            background-color: #0e2223;
        }
    }
}

.results-wrapper{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    max-height: 300px;
    transform: translateY(50px);
    //background-color: red;
    overflow-y: auto;
    background-color: white;
    
    .result{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: $quicksand;
        width: 100%;
        height: 50px;
        margin: 10px 0px;
        padding: 0px 20px;
        position: relative;
        transition: all linear 0.1s;
        cursor: pointer;
        
        .track-name{
            margin-bottom: 7px;
            font-weight: bold;
            font-size: 1.4em;
        }

        .track-artist{
            font-size: 1.3em;
            color: #383838;
        }

        .track-duration{
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 12pt;
        }

        &:after{
            content: '';
            position: absolute;
            width: 95%;
            bottom: -5px;
            left: 50%;
            background-color: #e8e8e8;
            height: 1px;
            transform: translateX(-50%);
        }

        &:hover{
            background-color: #e2e2e2;
        }
    }
}